


.btn-filled {
    border: none;
    padding: 1rem;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    box-shadow: 5px 5px 3px -2px black;
    border: 1px solid black;
    background-color: transparent;
    transition: 500ms;

    &:hover{
        box-shadow: none;
        cursor: pointer;
    }
}